<p>I'm a senior software engineer, passionate about new technologies.</p>
<p>
  I focus on writing clean, efficient and maintainable code.
</p>
<p>
  I apply the best practices like Clean architecture, Design Patterns, SOLID Principles and some other principles
  like DRY, KISS, and YAGNI etc.
</p>
<p>
  Tests is a very important step in my software development.
  I practice TDD and BDD in my daily work, and I write a lot of Non-Regression tests.
  Strong software consists of well tested code and is technical debt free.
</p>
<p>
  With more than 10 years' professional experiences, I've worked in differenct programming languages like PHP, C# and Java.
</p>
<p>
  I work mainly on Azure, ASP.NET Core Web API, .NET Core, Entity Framework CORE, Angular and TypeScript in recent years. And I'm quite new on ReactJS.
</p>
<p>
  And I also worked a lot on Windows Communication Framework, Windows Presentation Framework, ASP.NET Web Forms, and ASP.NET MVC in the past.
</p>
<p>
  I work a lot on Continuous Integration and Continuous Deployment with tools like XL Deploy, TeamCity, Azure DevOps and Jenkins.
</p>