<nav id="sidebar-icon-links">

  <a id="subscribe-link" class="icon" title="Subscribe" aria-label="Subscribe"
    href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a>

  {% comment %}
  Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
  {% if node.layout == "tags" %}
  {% assign tags_page = node %}
  {% elsif node.layout == "search" %}
  {% assign search_page = node %}
  {% endif %}
  {% endfor %}

  {% if tags_page %}
  <a id="tags-link" class="icon{% if page.url == '/tags' %} active{% endif %}" title="Tags" aria-label="Tags"
    href="{{ tags_page.url | relative_url }}">
    {% include svg/tags.svg %}
  </a>
  {% endif %}

  {% if search_page %}
  <a id="search-link" class="icon{% if page.url == '/search' %} active{% endif %}" title="Search" aria-label="Search"
    href="{{ search_page.url | relative_url }}">
    {% include svg/search.svg %}
  </a>
  {% endif %}

  <a id="github" title="Github" aria-label="Github" class="icon github" target="_blank"
    href="https://github.com/hellomrsun">
    {% include svg/github.svg %}
  </a>

  <a id="StackOverflow" title="StackOverflow" aria-label="StackOverflow" class="icon stackoverflow" target="_blank"
    href="https://stackoverflow.com/users/198728/jiangong-sun">
    {% include svg/stackoverflow.svg %}
  </a>

  <a id="Csdn" title="Csdn" aria-label="Csdn" class="icon csdn" target="_blank" href="https://blog.csdn.net/garcon1986">
    {% include svg/csdn.svg %}
  </a>

  {% include custom-icon-links.html %}
</nav>